<header class="header">
  <div class="header-image">
    <h1 class="logo">super barber</h1>
    <div class="header-button">
      <input type="text" name="q" placeholder="Buscar..." />
      <button routerLink="formulario2">Registra tu negocio</button>
    </div>
    <!-- <img src="/src/assets/imagenes/wallpaperflare.jpg" alt="Imagen de fondo" /> -->
    <div class="overlay">
      <h1 class="presentacion">
        Bienvenido
        <p class="presentacion">
          Descubre y reserva profesionales de belleza y bienestar cerca de ti
        </p>
      </h1>
    </div>
  </div>
  <nav class="barraNavegacion">
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="menuBarberia">Peluqueria</a></li>
      <li><a routerLink="menuMasajes">Masajes</a></li>
      <li><a href="#contact">Cejas y pestañas</a></li>
      <li><a href="#contact">Salon de uñas</a></li>
    </ul>
  </nav>
</header>
<div class="content-container">
  <router-outlet></router-outlet>

  <!-- Puedes seguir agregando más secciones o contenido aquí -->
</div>
