<div class="contenedor-ancho">
  <div class="contenedor">
    <h1 class="title">Massage Services Near Me</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam possimus
      illum dicta architecto dolore perspiciatis magni voluptatibus a porro,
      reprehenderit eius aut voluptatem fugiat vel repellendus totam fugit
      quibusdam exercitationem necessitatibus aspernatur veritatis veniam.
      Mollitia, ducimus culpa rem veritatis doloremque accusamus cum earum
      aspernatur suscipit molestiae voluptate cupiditate eum. Natus?
    </p>
    <img src="/assets/images/png-text.png" alt="logo" />
    <img src="/src/assets/images/png-text.png" alt="logo de fuera" />
    <!-- app.component.html -->
  </div>
</div>
<!-- CIUDADES -->
<div class="contenedor-ancho">
  <div class="contenedor-ancho-ciudades">
    <h2 class="Recomendacion-listaCiudades">
      Encuentra tu especialista por ciudad
    </h2>
  </div>
  <div class="ciudades-grid">
    <a href="#" class="ciudad-link">Bogotá</a>
    <a href="#" class="ciudad-link">Medellín</a>
    <a href="#" class="ciudad-link">Cali</a>
    <a href="#" class="ciudad-link">Barranquilla</a>
    <a href="#" class="ciudad-link">Cartagena</a>
    <a href="#" class="ciudad-link">Bucaramanga</a>
    <a href="#" class="ciudad-link">Pereira</a>
    <a href="#" class="ciudad-link">Manizales</a>
    <a href="#" class="ciudad-link">Santa Marta</a>
    <a href="#" class="ciudad-link">Armenia</a>
    <a href="#" class="ciudad-link">Villavicencio</a>
    <a href="#" class="ciudad-link">Ibagué</a>
    <a href="#" class="ciudad-link">Cúcuta</a>
    <a href="#" class="ciudad-link">Neiva</a>
    <a href="#" class="ciudad-link">Popayán</a>
  </div>
</div>
