<div class="contenedor-ancho">
  <div class="contenedor">
    <h1 class="title">BarberShops</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, excepturi
      mollitia. Velit eius dolorum modi adipisci dolore mollitia nostrum!
      Molestias natus rerum suscipit quidem minus, perferendis id incidunt
      commodi libero vitae nihil similique blanditiis temporibus rem vero
      accusamus? Dolorum error laudantium minima repudiandae dicta unde
      perspiciatis cum fuga, obcaecati modi!
    </p>
    <img src="/assets/images/png-text.png (2).jpg" alt="logo" />
    <img src="/src/assets/images/png-text.png" alt="logo de fuera" />
  </div>
</div>
<!-- CIUDADES -->
<div class="contenedor-ancho">
  <div class="contenedor-ancho-ciudades">
    <h2 class="Recomendacion-listaCiudades">
      Encuentra tu especialista por ciudad
    </h2>
  </div>
  <div class="ciudades-grid">
    <a href="#" class="ciudad-link">Bogotá</a>
    <a href="#" class="ciudad-link">Medellín</a>
    <a href="#" class="ciudad-link">Cali</a>
    <a href="#" class="ciudad-link">Barranquilla</a>
    <a href="#" class="ciudad-link">Cartagena</a>
    <a href="#" class="ciudad-link">Bucaramanga</a>
    <a href="#" class="ciudad-link">Pereira</a>
    <a href="#" class="ciudad-link">Manizales</a>
    <a href="#" class="ciudad-link">Santa Marta</a>
    <a href="#" class="ciudad-link">Armenia</a>
    <a href="#" class="ciudad-link">Villavicencio</a>
    <a href="#" class="ciudad-link">Ibagué</a>
    <a href="#" class="ciudad-link">Cúcuta</a>
    <a href="#" class="ciudad-link">Neiva</a>
    <a href="#" class="ciudad-link">Popayán</a>
  </div>
</div>
